
body{
    background-color: #33435a;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d0a1a0c8-4440-4034-985f-4b5f0e865ddc/da57kln-efc35b16-86ce-41e6-9723-565552bcbe46.jpg/v1/fill/w_1024,h_576,q_75,strp/forest_background_by_sendrawz_da57kln-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvZDBhMWEwYzgtNDQ0MC00MDM0LTk4NWYtNGI1ZjBlODY1ZGRjXC9kYTU3a2xuLWVmYzM1YjE2LTg2Y2UtNDFlNi05NzIzLTU2NTU1MmJjYmU0Ni5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.v7R0ZEgk_tr1L-IZVEIeM1o3_r9-ksK-1EfpRwLmvjw");
    background-size: cover;
}

h1{
    text-align: center;
    column-span: all;
}

.pokemon{
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    text-align: center;

    position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
}

#pokemonName{
    background-color: white;
    float: right;  
    margin-right: 25px;
    left:20%;
    top:25%;
    width:30%;
}

#search{
    float: right;
    margin-right: 5px;
}

img{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1px;
  width: 200px;
}

@media (min-width: 975){

}
